@media (max-width: 680px) {
  
    .topo-logo p{
        font-size: 1.8rem; 
        padding: 0 1%;
        
        
    }
    .topo-menu__redes-sociais{
        /* margin-left: 10px; */
        width:70%
    }
    .topo-menu__redes-sociais a{
        font-size: 1.5rem; 
        padding: 0 1.5%; 
        margin-left: 5px;
    }
    
  
    .menu-toggle {
      display: block;
    }

    .menu-navegacao {
      max-width: 45%; 
        display: none;
        flex-direction: column;
        background-color:var(--cor-fundo-body2);
        position: absolute;
        top: 157px;
        left: 0;
        /* width: 300px */
        /* padding: 20px ; */
        z-index: 1000;
        
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
        /* transition: all 0.3s ease-in-out;   */
        border-bottom: solid 4px var(--cor-a); 
        z-index: 1000;
        opacity: 0;  
         
        /* transition: opacity 0.3s ease, display 0s 0.3s;     */
      }
      
      .menu-navegacao li{
        padding: 10px 10px; 
        
      }
      .menu-navegacao li a{
        font-size: 1rem;
        font-weight: 600;
        /* padding: 0 1%; */
        
        
      }
      .menu-navegacao.show {
        display: block;
        opacity: 1;  
        /* width: 95%; */
        margin: 0 auto; 
        /* transform: translateY(0);  */
      }
      
      .main-projetos__projetos{
        display: flex;
        flex-direction: column; 
      }
      .main-muvie{
        width: 100%;
        height: 100%;
      }
      iframe{
        width: 100%;
        height: 250px;
      }
      .said-bar{
        width: 87%;
      }
      .said-bar__ods{
        display: flex;
        flex-direction: column;
      }
      .said-bar__ods img{
        width: 100%;
        
      }
}