
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    
    
}

.interface{
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 1024px;
    padding: 15px 4%;
    border: #00000022 2px solid;
    
}
.topo-menu{
    width: 100%;
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}
.topo-menu__navegacao{
    width: 100%;
    /* height: 80px; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.topo-menu__navegacao ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 0px 0px 0px -10px;
    
} 
.menu-navegacao{
    width: 300px;
    display: flex;
    padding: 5px 5px 0px 15px ;
    justify-content: space-between;
     
}
.menu-navegacao li{
    list-style: none;
}
.menu-navegacao a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    margin-left: -15px;
    padding: 5px 5px opx 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.menu-navegacao a:hover{
    color: #000;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}
.navegacao{
    border: solid 2px #00000022;
    width: 100%;
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}
.topo-menu__redes-sociais {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: right;
   
    
}
.topo-menu__redes-sociais a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    margin-left: 10px;
    padding: 5px 5px opx 10px;
    border-radius: 5px;
    
}
.topo-menu__redes-sociais a:hover{
    color: #000;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}

.topo-logo {
    width: 80px;
    height: 80px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
     
}
.topo-logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #000;
}
.titulo{
    font-size: 2rem;
    color: #000;
    /* margin-left: 10px; */
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.said-bar{
    width: 400px;
    height: 100vh;
    background-color: #ffffff00;
    display: flex;
    justify-content: left;
    align-items: center;
    /* position: fixed; */
    flex-direction: column;
    padding: 10px 30px 0px 0;
    margin-right: 10px;
    border-right: 2px solid #00000022;
}
.said-bar .lista-dicas{
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: first baseline;  
    
    
}
.said-bar .lista-dicas li{
    padding: 5px 0;
    list-style: none;
    margin-left: -40px;
}

.main__principal{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    /* border-left: 2px solid #00000022; */
    
    
}
.main__img{
    min-width: 100%;
    background-color: blue;

}
.main__img img{
    width: 100%;
    height: 100%;
    
    box-shadow: 0px 0px 5px #000;
}
.main-projetos__projetos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 80px;
    
}
.projetos{
    max-width: 300px;
    height: 300px;
    background-color: #fff;
    display: flex;

    flex-direction: column;
    margin-top: 30px;
    
      
}
.main-projetos__projetos img{
    width: 100%;
    height: 100%;   
    box-shadow: 0px 0px 5px #000;
}
.main-projetos__projetos h2{
    
    font-size: 1.5rem;
    margin-top: 10px;
    color: #000;
}
.main-projetos__projetos h3{
    
    font-size: 1.2rem;
    margin-top: 10px;
    color: #000;
}
.main-projetos__projetos p{
    
    font-size: 1rem;
    margin-top: 10px;
    color: #000;
}
.main-movie{
    background-color: aqua;
    text-align: center;
    width: 100%;
}
.said-bar__ods img{
    width: 300px;
    height: 100%;
    box-shadow: 0px 0px 5px #000;
}
footer{
    width: 100%;
    /* height: 100vh; */
    background-color: #25e3f1;
    color: #030303;
    font-size: 1rem;
    margin-top: 30px;
    margin: auto;
    display:flex ;
    
    
}
footer .interface{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 10px;


}
.footer{
    border:solid #00000022 2px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
    margin: 0px 10px;
}
.footer li{
    list-style: none;
    margin: 5px 0px;
}
.footer a{
    text-decoration: none;
    color: #070707;
    font-size: 1rem;
   
}
.footer a:hover{
    color: #000;
    text-decoration: underline;
}

.redes-sociais a >i {
   
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}
.footer__copy{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
    color: #000;
}