@media (max-width: 680px) {
  .topo-logo p {
    font-size: 1.8rem;
    padding: 0 1%;
  }
  .navegacao{
    height: 30px;
  }
  .topo-menu__redes-sociais {
    display: none;
    width: 70%
  }

  /* .topo-menu__redes-sociais a {
    font-size: 1.5rem;
    padding: 0 1.5%;
    margin-left: 5px;
  } */

  .menu-toggle {
    display: block;
  }

  .menu-navegacao {
    max-width: 50%;
    display: none;
    flex-direction: column;
    background-color: var(--cor-fundo-topo);
    position: absolute;
    top: 157px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: solid 4px var(--cor-a);
    z-index: 1000;
    opacity: 0;
    
  }

  .menu-navegacao li {
    padding: 10px 0px;
    
  }

  .menu-navegacao li a {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 0;
  }

  .menu-navegacao.show {
    display: block;
    opacity: 1;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    
    transform: translatey(1px);
  }
  

  
  .main__principal {
    border: none;
    padding: 4%;
    
  }

  .main-projetos__projetos {
    display: flex;
    flex-direction: column;
  }

  .main-muvie {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 250px;
  }

  .said-bar {
    width: 86%;
  }

  .said-bar__ods {
    display: flex;
    flex-direction: column;
  }

  .said-bar__ods img {
    width: 100%;
  }
  .ods-img{
    flex-direction: column;
  }
  .buner {
    height : 70%;
  }
  .ecoponto__container {
    display: flex;
    flex-direction: column;
    

  }
  .ecoponto-texto {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    padding: 0;
    

  }
}