@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Protest+Revolution&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: smooth;
}

:root {
    --cor-fundo-topo:#05abab;
    --cor-fundo-body: #dfedfd77;
    --cor-fundo-main:rgb(228, 250, 250);
    --cor-fundo-footer: #05abab;
    --cor-fundo-said-bar: #b1a4a121;
    --cor-topo: #ffffff;
    --cor-link: #000000a7;
    --cor-titulo: #212121eb;
    --cor-geral: #000000d4;
    --cor-borda: #00000022;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif; 
    background-color: var(--cor-fundo-body);
}

header {
    background-color:var(--cor-fundo-topo);
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, var(--cor-fundo-body), rgba(255, 0, 0, 0.724)) 1;
    box-shadow: 0px 3px 6px 3px #00000022;
}

.interface {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding: 15px 4%;
}
h1 {
    margin-bottom: 15px;
    font-size: 2rem;
    color: var(--cor-titulo);
    text-align: center;
    text-shadow: 0px 2px 5px #0000003b;
}

h2,
h3 {
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.5rem;
    color: var(--cor-titulo);
    font-weight: 600;
    text-shadow: 0px 2px 5px #0000003b;
    
}

p {
    margin: 10px 0;
    font-size: 1rem;
    color: var(--cor-geral);
    font-weight: 400;
    text-indent: 20px;
    letter-spacing: .05rem;
}

.topo-menu {
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-between;
}

.topo-menu__navegacao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-menu__navegacao ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 0px 0px 0px -10px;
}

.menu-navegacao {
    width: 760px;
    display: flex;
    justify-content: space-between;
}

.menu-navegacao li {
    list-style: none;
}

.menu-navegacao a {
    text-decoration: none;
    color: var(--cor-link);
    font-weight: 600;
    /* font-size: 1rem; */
    margin-left: -15px;
    padding: 5px 5px 0px 10px;
}

.menu-navegacao a:hover {
    color: var(--cor-geral);
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}

.navegacao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.topo-menu__redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.topo-menu__redes-sociais a {
    text-decoration: none;
    color: var(--cor-link);
    font-size: 1rem;
    margin-left: 10px;
    padding: 5px 5px opx 10px;
    border-radius: 5px;
}

.topo-menu__redes-sociais a:hover {
    color: var(--cor-geral);
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}

.topo-logo {
    width: 100%;
    height: 80px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.topo-logo p {
    font-weight: 800;
    font-size: 3rem;
    color: var(--cor-titulo);
    margin: 0px; 
    text-shadow: 0px 2px 5px #00000057;
    text-indent: 0;
}

.topo-logo img {
    width: 80;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #000000, 2px -2px 5px #c5a7f4fb;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--cor-link);
    cursor: pointer;
    z-index: 101;
    position: absolute;
    top: 104px;
    left: 16px;
    font-weight: 600;
}





.said-bar {
    width: 400px;
    height: 100%;
    background-color: var(--cor-fundo-said-bar);
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 3px 5px #000000fe;
}
/* .said-bar >p, h2, blockquote{
    color: var(--cor-link);
    text-shadow: #0000003b 0px 2px 5px;
} */

.said-bar .lista-dicas {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: first baseline; */
}

.said-bar .lista-dicas li {
    padding: 5px 0;
    margin-left: -15px;
    font-weight: 600;
    /* color: var(--cor-topo); */
}

.said-bar .lista-dicas li:hover {
    color: #000;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
    transform: scale(1.01);
    cursor: pointer;
}

.said-bar__ods {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coleta-seletiva-img img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px #000;
    margin: 20px 0px;
}
.ecoponto-img img{
    width: 300px;
    height: 100%;
    box-shadow: 0px 0px 5px #000;
    margin: 20px 0px;
}

blockquote{
    color: var(--cor-geral);
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: left;
    justify-content: left;
    font-size: .8rem;
    font-style: italic;
    text-align: left;
    
}
blockquote p{  
    text-indent: 0px;
}
.said-bar__ods img {
    width: 300px;
    height: 100%;
    box-shadow: 0px 0px 5px #000;
    margin: 20px 0px;
}

main .interface {
    padding-top: 0px;
} 

.main__principal {
    background-color: var(--cor-fundo-main);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    border-left: solid  2px var(--cor-borda);
    border-right: solid 2px var(--cor-borda);
}

.buner{
    width: 100%;
    height: 500px;
    background-color: #000000e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 20px;
    border-bottom: solid 20px;

}

.encarte{

    width: 100%; 
    border: var(--cor-borda) solid 2px;
    box-shadow: 2px 3px 5px #000000ad;
    margin-bottom: 15px ;
    margin-top: -15px;
} 

/* .main__img {
    min-width: 100%;
}

.main__img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
} */

.main-projetos h2 {
    /* color: var(--cor-titulo); */
    padding-top: 20px;
    border-top: solid #00000022 2px;
}

/* .main-projetos h3 {
    border-top: solid  5px var(--cor-borda);
    padding: 10px 0;
}  */

.main-projetos__projetos {
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.projetos {
    max-width: 600px;
    height: 450px;
    background-color: var(--cor-topo);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-shadow: 2px 3px 5px #000000ad;
    padding: 3px;
}

.projetos p {
    padding: 0 4%;
    font-size: .8;
    color: var(--cor-titulo);
}

.projetos img {
    width: 100%;
    height: 200px;
    /* box-shadow: 0px 0px 5px #000; */
}

.main-movie {
    background-color: #000000e8;
    text-align: center;
    width: 100%;
    padding: 25px 0;
    margin: 40px 0;
    box-shadow: 2px 3px 5px #000000ad;
}

.button-topo {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #05abab3a;
    color: #00000080;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #00000080;
}

.button-topo:hover {
    background-color: #05abab;
    color: #000000;
    transition: all 0.5s ease-in-out transform 0.5s ease-in-out;
    transform: scale(1.05);
}

footer {
    width: 100%;
    background-color: var(--cor-fundo-footer);
    color: #030303;
    font-size: 1rem;
    margin-top: 30px;
    margin: auto;
    display: flex;
    border-top: solid #000000f4 1px;
    box-shadow: 0px 0px 6px 5px #000000fa;
}

footer .interface {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px;
    border: 2px solid #00000022
}

.footer h3 {
    border-bottom: 2px solid #00000022;
    padding-bottom: 10px;
}

.footer p {
    margin: 15px 15px;

}

.footer li {
    list-style: none;
}

.footer__conteudo-extra li {
    list-style: outside;
}

.footer a, li, p {
    text-decoration: none;
    font-size: 1rem;
    color: var(--cor-link);
    font-weight: 400;
    padding-bottom: 10px;
}

.footer a:hover {
    color: #000;
    text-decoration: underline;
}

.redes-sociais a>i {
    /* margin-top: 10px; */
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
    margin-left: -40px;
    padding-right: 10px;
}

.footer__copy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    background-color: #070707;
}

.footer__copy p {
    margin: 0px;
    padding: 10px 0px;
    font-size: .8rem;
    color: #fff;
    text-align: center;
}